.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 70%;
  border-radius: 2rem;
  text-align: center;
}

.search-bar {
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 4rem;
  display: flex;
  align-items: center;
  padding: 1.2rem 2.2rem;
  transition: all 300ms ease;
}

#dark .search-bar {
  background: var(--main-bg-dark);
  box-shadow: var(--dark-box-shadow);
}

#dark .search-bar:hover {
  box-shadow: 0 0 transparent;
}

.search-bar:hover {
  box-shadow: 0 0 transparent;
}

.search-bar input[type="search"] {
  width: 23rem;
  padding: 1rem 1rem 1rem 0;
  background: transparent;
  color: var(--icons-color);
}

.search-bar .logo {
  width: 1.8rem;
  margin-right: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  background: var(--icons-bg-color);
  width: 5rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

#dark button {
  background: var(--main-bg-dark);
  color: white;
  border: 1px solid rgb(129, 127, 127);
}

button:hover {
  box-shadow: var(--box-shadow);
}

#dark button:hover {
  box-shadow: var(--dark-box-shadow);
}

input[type="number"] {
  width: 100%;
  height: 5vh;
  font-size: 15px;
  border-radius: 4rem;
}
#set:hover {
  border: 1px solid coral;
}

h2 {
  font-size: 5rem;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

#dark h1,
#dark h2 {
  color: white;
}

@media screen and (max-width: 1024px) {
  .middle {
    width: 100%;
  }
}
